{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}

{% block body %}
<h1 class="my-4">Liste des formations</h1>

{% if is_granted('ROLE_ADMIN') %}
<p><a href="{{ path('add_formation') }}" class="btn btn-success">Ajouter une formation</a></p>
{% endif %}
<table class="table table-hover">
    <thead id="table-head">
        <tr>
            <th>Intitulé Formations</th>
            <th>Description</th>
            <th>Sessions</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
        <tr>
            <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation }}</a></td>
            <td>{{ formation.description }}</td>
            <td>{{ formation.sessions | length() }}</td>
            <td><a href="{{ path('update_formation', {'id': formation.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}