{% extends 'base.html.twig' %} 
{% block title%}Ajout de sessions {% endblock %} 
{% block body %}
<h1>Ajout de sessions</h1>

{{ form_start(formSession) }}
    {{ form_row(formSession.intitule) }}
    {{ form_row(formSession.dateDebut)}}
    {{ form_row(formSession.dateFin) }}
    {{ form_row(formSession.places_theoriques) }}
    {{ form_row(formSession.placesReserves) }}
    {{ form_row(formSession.formateurs) }}
    {{ form_row(formSession.formations) }}
    <h2 class="center">Programme de la session</h2>

    <div class="form-group row ">

        <div class="col-form-label col-sm-2">&nbsp;</div>

        <div id="programme-fields-list" class="col-sm-10 remove-collection-widget" data-prototype="{{ form_widget(formSession.planifiers.vars.prototype)|e }}" data-session="{{sessionId}}" data-widget-tags="{{ '<p></p>'|e }}" data-widget-counter="{{ formSession.planifiers|length }}">

            {% for programmeField in formSession.planifiers %}

                <p>

                    {{ form_errors(programmeField) }}

                    {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}

                </p>

            {% endfor %}

        </div>

    </div>

    <div class="form-group row flex-action">

        <button type="button" class="add-another-collection-widget button" data-list-selector="#programme-fields-list">Ajouter un nouveau module</button>

    </div>

    {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}

    {% do formSession.planifiers.setRendered %}
{{ form_end(formSession) }} 
{% endblock %}